.countDow{
    background-color: rgba(234, 238, 242, 0.865);
    font-size: 4em;
    margin: 15px;
    padding: 25px;
    
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    box-shadow: 0px 2px 2px wheat;
    color: rgb(92, 25, 5);
    
   

}