.ajouterPanierTable td{
    font-size: .9em;
    width: fit-content !important;
    text-align: center;
}
.ajouterPanierTable th{ 
    width: fit-content !important;
    text-align: center;
}
.ajouterPanierTable { 
width: 70% !important;
position: relative;
left: 50%;
translate: -50% 0;
border: 1em solid black;
}
.cart-page .card {
    box-shadow:none;
}