.profile-pic{
    width: 7em;
border-radius:50%;
height: 5em;
border:1px solid #ffffff56;
position: relative; 
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2em;
cursor:pointer;
user-select: none;
color:white;

}
.profile-info table td {

    font-size: 1em ;
}